@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-from: #ffffff;
  --bg-to: #ffe6f3;
}
html,
body {
  height: 100%;
}
body {
  @apply text-gray-900 bg-gradient-to-b from-[var(--bg-from)] to-[var(--bg-to)];
}
